.custom-hover {
    position: relative;
    transition: transform 0.3s, opacity 0.3s;
    border: 2px solid transparent;
}

.custom-hover .arrow-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-hover:hover {
    transform: scale(1.1);
    border: 2px solid #ffffff;
}

.custom-hover:hover .arrow-down {
    opacity: 0.7;
}

.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}


.arrow-icon:hover {
    opacity: 1;
}